main.layout {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.reloader {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main table {
  grid-area: 2 / 2 / 3 / 3
}
